<nav class="links fadeIn animated">
    <ul>
        <li class="pinterest"><a title="Pinterest" href="https://www.pinterest.com/donetheory"><i class="fa fa-fw fa-pinterest-square"></i></a></li>
        <li class="instagram"><a title="Instagram" href="https://instagram.com/doneliberee"><i class="fa fa-fw fa-instagram"></i></a></li>
        <li class="rss"><a title="RSS Feed" href="/rss/"><i class="fa fa-fw fa-rss-square"></i></a></li>
    </ul>
</nav>
